
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 550px) {
    .container {
        width: 90vw;
        height: auto;
    }
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A0519;
}

.container {
    padding: 30px;
    width: 500px;
    height: 450px;
    border-radius: 10px;
    background-color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tela_inicial,
.inic_Jog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tela_inicial > img {
    padding: 15px;
}

h1, p, h2{
    padding: 15px;
    font-weight: bolder;
}

span {
    font-weight: bolder;
}

.vs {
    display: inline-block;
}

.escolha_num {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;    
}

.area_resultado {
    display: flex;
    justify-content: center;
    gap: 40px; /* Espaçamento entre as duas divs internas */
    margin-bottom: 10px; /* reduz o espaço entre imagens e texto */
}

.result_escolha {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centraliza os itens (p e img) dentro de cada div */
}

.tela_final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px; /* espaço controlado entre blocos */
}

pre {
    font-size: 2em;
    font-weight: bold;
    padding: 15px;
}

button {
    margin: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #670D2F;
    background-color: #670D2F;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os botões */
    flex-wrap: wrap; /* Para não quebrar o layout em telas menores */
    margin-top: 20px;
}

button:hover {
    color: #670D2F;
    border: 2px solid #670D2F;
    background-color: white;
    transform: scale(1.1);
}

.bt1:hover {
    transform: scale(1.1);
    content: url(imagens/num_1.png);
}

.bt2:hover {
    transform: scale(1.1);
    content: url(imagens/num_2.png);
}

.bt3:hover {
    transform: scale(1.1);
    content: url(imagens/num_3.png);
}

.bt4:hover {
    transform: scale(1.1);
    content: url(imagens/num_4.png);
}

.bt5:hover {
    transform: scale(1.1);
    content: url(imagens/num_5.png);
}

.bt6:hover {
    transform: scale(1.1);
    content: url(imagens/num_6.png);
}