

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center; /* Alinha horizontalmente */
  align-items: center; /* Alinha verticalmente */
  background-color: #222; /* opcional */
}

.container {
    background-color: white;
    width: 500px;
    height: 450px;
    padding: 20px;
    border-radius: 10px;
}

.tela_inicial{
    text-align: center;
    padding: 30px; 
}

.tela_inicial > h1 , .nomes > h2 {
    padding: 20px;
    margin-bottom: 30px; 
    margin-top: 30px; 
}

.tela_inicial > p {
    display: inline-block;
    padding: 5px;
    margin: 15px;
    border: 2px #222 solid;
    border-radius: 10px;
}

.tela_inicial > p:hover {
    transform: scale(1.1);
}

.definir_partida , .nomes {
    text-align: center;
    margin-top: 60px;
}

.modo_jogo {
    display: inline-block;
    margin: 20px;
    margin-top: 50px;
}

.modo_jogo > p , .nomes > p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px; /* ou margin-top para legenda abaixo */
}

.modo_jogo > img {
    border: 2px #222 solid;
    border-radius: 10px;
}

.bt1:hover {
    transform: scale(1.1);
    content: url(imagens/jogadores1.jpeg);
    border: 2px #222 solid;
    border-radius: 10px;
}

.bt2:hover {
    transform: scale(1.1);
    content: url(imagens/robo1.jpeg);
    border: 2px #222 solid;
    border-radius: 10px;
}

.jokenpo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.jokenpo > h1 {
    margin: 10px;
    margin-top: 10px;
}

span {
    padding: 5px;
}

.placar_joken {
    padding: 5px;
    margin: 10px;
}

.btPedra:hover {
    transform: scale(1.1);
    content: url(imagens/pedra_bt.png);
}

.btPapel:hover {
    transform: scale(1.1);
    content: url(imagens/papel_bt.png);
}

.btTesoura:hover {
    transform: scale(1.1);
    content: url(imagens/tesoura_bt.png);
}

.tela_final{
    padding: 15px;
    text-align: center;
    margin-top: 150px;
}

button {
    text-align: center;
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    justify-content: center;
}

.tabuleiro {
  display: grid;
  grid-template-columns: repeat(3, 85px);
  grid-gap: 2px;
  margin: 20px auto;
}

.celula {
  width: 80px;
  height: 80px;
  background-color: #eee;
  font-size: 2em;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  border: 2px solid #ccc;
}